/* Custom Font - Photograph */
@font-face {
    font-family: 'Photograph';
    src: url('../assets/fonts/photograph.fd3e04e.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

